<div class="container">
        <div class="col-md-12">
     <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>manager name </th>
      <th>topic</th>
      <th>approve</th>
      <th>reject</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each managers}}
      <tr>
        <td>{{firstname}}  {{lastname}} </td>
        <td>{{topic}}</td>
        {{#if verified}}
        <td>verified</td>
        {{else}}
        <td><button class="btn-success" onclick=updatemanager('{{_id}}') id="updateManagerBtn">approve</button></td>
        {{/if}}
        <td><button class="btn-danger" id="rejectManagerBtn">reject </button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

</div>

<script>
   function updatemanager(manid){
        $.ajax({
      type: "POST",
      url: "/admin/updateManager",
      data: { id:manid },
      success: function(response) {
        location.reload()
        console.log(response);
      }
    });
    }
</script>