<div class="container">
    <form action="/edit-article/{{article._id}}" method="post">
          <label for="topicSelect">Topic:</label><br>
   <select class="form-control" name="topic"  id="topicSelect" required>
   
    {{#each topics}}
    <option value="{{../article.topic}}">{{topic}}</option>
    {{/each}}
  </select>



 

  <label for="title">Title:</label><br>
  <input class="form-control" value="{{article.title}}" type="text" id="title" name="title"><br><br>

  <label for="content">Content:</label><br>
  <textarea class="form-control"  id="content" name="content" rows="10" cols="30">{{article.content}}</textarea><br><br>
   
  <br><br>

  <input type="submit" value="Submit">
</form> 

</div>