<div class="container my-5">
  <h1 class="text-center mb-5"> MY Articles</h1>
   <a class="btn btn-primary" href="/add-article">add article </a>
  <div class="row">

   
   

    {{#each articles}}
      <div class="col-md-4 mb-5">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">{{title}}</h1>
            <h3>{{topic}}</h3>
            <h5>author:{{author}}</h2>

            <p class="card-text">{{content}}</p>

            <a href="/edit/{{_id}}" class="btn btn-primary mr-2">Edit</a>
            <a href="/delete/{{_id}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
